{erl_opts, [no_debug_info]}.

{escript_main_app, epsql}.
{escript_name, epsql}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
{escript_incl_apps, [
    epsql
]}.

{deps, [
    {egetopt, "~>1.1.0"},
    {epgsql, "~>4.6"}
]}.
{provider_hooks, [
    {pre, [
        {ct, escriptize}
    ]}
]}.
{profiles, [
    {test, [
        {erl_opts, [debug_info, verbose]},
        {deps, [
            {ebs, "~>2.1"}
        ]}
    ]}
]}.
