{erl_opts, [no_debug_info]}.

{escript_main_app, epsql}.
{escript_name, epsql}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
{escript_incl_apps, [
    epsql
]}.

{deps, [
%   {ebs, "~>2.0"},
    {egetopt, "~>1.1.0"},
    {epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "4.6.0"}}}
]}.
{profiles, [
    {test, [
        {erl_opts, [debug_info, verbose]}
    ]}
]}.
